body {
  background: #eed130;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Proxima Nova', sans-serif;
}

.mutant-detector-container {
  background-color: #fff; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.mutant-detector-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.mutant-detector-container p {
  font-size: 16px;
  color: #1a1616;
}


.mutant-detector-container input {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
}


.mutant-detector-container button {
  padding: 12px 20px;
  background-color: #009EE3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.mutant-detector-container button:hover {
  background-color: #0097a7;
}


.error {
  color: #F3606E;
  margin-top: 10px;
  font-size: 14px;
}


.spinner {
  border: 4px solid #f3f3f3; 
  border-top: 4px solid #00bcd4; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite; 
  margin: 20px auto; 
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.error-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.error-modal-content {
  background-color: #ff3333; 
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  position: relative;
  width: 80%;
  max-width: 300px;
}


.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}


.success-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.success-modal-content {
  background: linear-gradient(to bottom, #4CAF50, #fffefe); 
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  position: relative;
  width: 80%;
  max-width: 300px;
}

.success-modal input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.success-modal button {
  background-color: #009EE3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.success-modal button:hover {
  background-color: #6FA2B0;
}


.success-modal .close-btn,
.error-modal .close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5); 
}


.success-modal, .error-modal {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.success-modal-content, .error-modal-content {
  width: 100%;
  max-width: 300px; 
  background: white;
  padding: 20px;
  
  border-radius: 8px;
  text-align: center;
}

.success-modal-content {
  background: #00A650;
}

.error-modal-content {
  background-color: #ff3333;
}

.iconmeli {
  position: fixed;
  top: 10px;
  left: 20px;
  width: 100px; 
  height: auto;
  z-index: 1000;
}