.product-carousel-message {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Proxima Nova', sans-serif;
    color: #fff;
    padding: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    text-align: center;
    background: #f55363;
    border-radius: 8px;
    width: 90%;
    max-width: 500px; 
    margin: 0 auto; 
}

.back-arrow-icon {
    font-size: 24px;
    color: #333;
    cursor: pointer;
    margin-top: 10px; 
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.back-arrow-icon:hover {
    color: #100202;
}

.carousel-container {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    padding: 16px;
    position: relative;
    background-color: #f9f9f9;
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
    margin-top: 10px; 
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.card {
    width: 170px; 
    height: 300px; 
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease;
    margin-bottom: 16px;
}
.card:hover {
    transform: scale(1.05);
}

.card-image {
    width: 100%;
    height: auto;
    max-height: 140px; 
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 8px;
}

.card-title {
    font-size: 14px;
    font-weight: bold;
    margin: 8px 0;
}

.card-price {
    color: #4caf50;
    font-weight: bold;
    font-size: 14px;
}

.card-location,
.card-description {
    font-size: 12px;
    color: #666;
}


@media (max-width: 768px) {
    .carousel-container {
        gap: 8px;
        padding: 16px;
        justify-content: center;
    }
  
    .card {
        flex: 0 0 calc(40% - 8px);
        max-width: calc(40% - 8px);
        width: 20%;
        margin-right: 8px;
    }
}
